body{

    background-color: rgb(240, 240, 240);

}


header{

    position: fixed;

    left: 0;
    top: 0;

    width: 100%;

    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

header > a{

    text-decoration: none;

}

header > a{

    font-size: 21px;

    color: rgb(14, 14, 14);

    font-family: 'Inconsolata', monospace;

    font-weight: 600;

}

nav{

    position: fixed;

    width: 18%;

    top: 10%;

    left: 40%;

}

nav > ul{

    list-style: none;

    border-radius: 24px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    padding-top: 2%;

    padding-bottom: 2%;

}

nav > ul > li{

    display: inline;

    font-family: 'Inconsolata', monospace;

    font-size: 14px;

}

#ps-nav:hover{

    cursor: pointer;

    color: blue;

}

#xbox-nav:hover{

    cursor: pointer;

    color: green;

}

#nintendo-nav:hover{

    cursor: pointer;

    color: red;

}

.nav-option{

    padding-left: 3%;

}

footer{

    position: absolute;

    display: flex;

    bottom: 0;

    left: 0;

    width: 100%;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

footer > p{

    font-family: 'Inconsolata', sans-serif;

    margin-left: 27%;

}

footer > p > a{

    text-decoration: underline;

    color: blue;

}


.banner-div > #banner{

    position: absolute;

    width: 80%;

    top: 24%;

    left: 18%;

    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.banner-div > #logo{

    width: 20%;

    position: absolute;

    top: 34%;

    left: 23%;

}

.banner-div > h1{

    color: white;

    position: absolute;

    top: 38%;

    left: 23.7%;

    font-family: 'Roboto', sans-serif;

    font-weight: 300;

}

.banner-div > h2{

    position: absolute;

    font-size: 18px;

    top: 57%;

    left: 23.7%;

    color: white;

    font-family: 'Roboto', sans-serif;

    font-weight: 300;

}

.banner-div > button{

    position: absolute;

    top: 74%;

    left: 23.7%;

    border: none;

    background-color: white;

    width: 8%;

    height: 5%;

    border-radius: 32px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.mini-banner-div > #mini-banner1{

    width: 16%;

    top: 27%;

    left: 1%;

    position: absolute;

    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.mini-banner-div > #mini-banner2{

    width: 12%;

    top: 42%;

    left: 1%;

    position: absolute;

    border-radius: 20px;

}

@keyframes scaling1 {
    
    from{

        width: 12%;

    }

    to{

        width: 16%;

    }

}

@keyframes scaling2 {
    
    from{

        width: 16%;

    }

    to{

        width: 12%;

    }

}

#egg{

    position: absolute;

    bottom: 5%;

    left: 95%;

    opacity: 0;

    width: 40px;

}
#egg:hover{

    opacity: 1;

    color: rgb(0, 0, 0);

}
#tyler{

    position: absolute;

    top: 20%;

    right: 37.5%;

}